 1. Resumen del reto guiado de Pandas.
### 1.1. Conocimientos previos.
- Python (Completo)
- Numpy
- Pandas
### 1.2. Propósito del reto e información de los datos.

El propósito de este reto guiado es poner en práctica los conocimientos básicos de la librería Pandas.

En este caso vamos a utilizar dos sets de datos demográficos mundiales, 'world-data-1' y 'world-data-2'. Las columnas para ambos sets de datos son:

**world-data-1**
- **Country**: Nombre del país.

- **Density (P/Km2)**: Densidad de población medida en personas por kilómetro cuadrado.

- **Abbreviation**: Abreviatura o código que representa al país.

- **Agricultural Land(%)**: Porcentaje del área total de tierra utilizada con fines agrícolas.

- **Land Area(Km2)**: Área total de tierra del país en kilómetros cuadrados.

- **Armed Forces size**: Tamaño de las fuerzas armadas en el país.

- **Birth Rate**: Número de nacimientos por cada 1,000 habitantes por año.

- **Calling Code**: Código internacional de llamada para el país.

- **Capital/Major City**: Nombre de la capital o ciudad principal.

- **Co2-Emissions**: Emisiones de dióxido de carbono en toneladas.

- **CPI**: Índice de Precios al Consumidor (IPC), una medida de la inflación y el poder adquisitivo.

- **CPI Change (%)**: Cambio porcentual en el Índice de Precios al Consumidor en comparación con el año anterior.

- **Currency-Code**: Código de moneda utilizado en el país.

- **Fertility Rate**: Número promedio de hijos nacidos de una mujer durante su vida.

- **Forested Area (%)**: Porcentaje del área total cubierta por bosques.

- **Gasoline Price**: Precio de la gasolina por litro en moneda local.

**world-data-2**
- **GDP**: Producto Interior Bruto, el valor total de bienes y servicios producidos en el país.

- **Gross primary education enrollment (%)**: Tasa bruta de matriculación en educación primaria.

- **Gross tertiary education enrollment (%)**: Tasa bruta de matriculación en educación terciaria.

- **Infant mortality**: Número de muertes por cada 1,000 nacidos vivos antes de cumplir un año de edad.

- **Largest city**: Nombre de la ciudad más grande del país.

- **Life expectancy**: Número promedio de años que se espera que viva un recién nacido.

- **Maternal mortality ratio**: Número de muertes maternas por cada 100,000 nacidos vivos.

- **Minimum wage**: Nivel de salario mínimo en moneda local.

- **Official language**: Idioma(s) oficial(es) hablado(s) en el país.

- **Out of pocket health expenditure**: Porcentaje del gasto total en salud pagado directamente por individuos.

- **Physicians per thousand**: Número de médicos por cada mil personas.

- **Population**: Población total del país.

- **Population: Labor force participation (%)**: Porcentaje de la población que forma parte de la fuerza laboral.

- **Tax revenue (%)**: Ingresos fiscales como porcentaje del PIB.

- **Total tax rate**: Carga fiscal total como porcentaje de las ganancias comerciales.

- **Unemployment rate**: Porcentaje de la fuerza laboral que está desempleada.

- **Urban_population**: Porcentaje de la población que vive en áreas urbanas.

- **country**: Nombre del país.

- **latitude**:Coordenadas de latitud de la ubicación del país.

- **longitude**:Coordenadas de longitud de la ubicación del país.

- **Continent**: Continente en el que se encuentra el país.

En los primeros ejercicios utilizaremos sólo el primer set de datos (**world-data-1**)

In [2]:
import pandas as pd 
import numpy as np

## 2. Ejercicios
### 2.1. Pandas Básico
2.1.1. Carga el archivo 'world-data-1' como DataFrame (world_1)

In [3]:
world_1 = pd.read_csv(r'C:\Users\maria\Documents\FormacionDataAnalytics\ejercicios\data\world-data-1.csv', index_col= 0)

2.1.2. Muestra las primeras 5 filas del conjunto de datos.

In [4]:
world_1.head() # Muestras las 5 primeras
world_1.tail() # Muestra las últimas 5 filas
world_1.sample() # Muestra un ejemple aleatoria

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
90,Kuwait,240.0,KW,8.4,"17,818","25,000",13.94,965.0,Kuwait City,"98,734",126.6,1.1,KWD,2.08,0.4,0.35

2.1.3. Muestra el número total de filas y columnas en el conjunto de datos.

In [5]:
world_1.shape
print( f'El número de filas es {world_1.shape[0]} y el número de columnas es {world_1.shape[1]}')

El número de filas es 195 y el número de columnas es 16

2.1.4. Muestra el nombre de todas las columnas en el conjunto de datos.

In [6]:
world_1.columns

Index(['Country', 'Density\n(P/Km2)', 'Abbreviation', 'Agricultural Land( %)',
       'Land Area(Km2)', 'Armed Forces size', 'Birth Rate', 'Calling Code',
       'Capital/Major City', 'Co2-Emissions', 'CPI', 'CPI Change (%)',
       'Currency-Code', 'Fertility Rate', 'Forested Area (%)',
       'Gasoline Price'],
      dtype='object')

2.1.5. Muestra los valores únicos en la columna "Country".

In [7]:
world_1['Country']
world_1['Country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'The Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Ivory Coast',
       'Cape Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Republic of the Congo', 'Costa Rica', 'Croatia',
       'Cuba', 'Cyprus', 'Czech Republic',
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'The Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Vatican City', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Republic of Ireland', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Federated States of Micronesia', 'Moldova', 'Monaco',
       'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Korea', 'North Macedonia',
       'Norway', 'Oman', 'Pakistan', 'Palau',
       'Palestinian National Authority', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar',
       'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
       'San Marino', 'S�����������', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Korea',
       'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Tajikistan', 'Tanzania', 'Thailand',
       'East Timor', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

2.1.6. Cuenta cuántas veces aparece cada valor único en la columna "Country".

In [8]:
world_1['Country'].value_counts()

Country
Afghanistan      1
Saint Lucia      1
Nicaragua        1
Niger            1
Nigeria          1
                ..
Grenada          1
Guatemala        1
Guinea           1
Guinea-Bissau    1
Zimbabwe         1
Name: count, Length: 195, dtype: int64

2.1.7. Verifica si hay valores nulos en el conjunto de datos.

In [9]:
world_1.isnull().sum() # añadimos un sum para poder visulizar mejor el dato

Country                   0
Density\n(P/Km2)          0
Abbreviation              7
Agricultural Land( %)     7
Land Area(Km2)            1
Armed Forces size        24
Birth Rate                6
Calling Code              1
Capital/Major City        3
Co2-Emissions             7
CPI                      17
CPI Change (%)           16
Currency-Code            15
Fertility Rate            7
Forested Area (%)         7
Gasoline Price           20
dtype: int64

2.1.8. Comprueba la presencia de duplicados en el conjunto de datos.

In [10]:
world_1.duplicated().sum() # añadimos un sum para poder visulizar mejor el dato

0

2.1.9. Muestra información general sobre el conjunto de datos.

In [11]:
world_1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 195 entries, 0 to 194
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                195 non-null    object
 1   Density
(P/Km2)        195 non-null    float64
 2   Abbreviation           188 non-null    object
 3   Agricultural Land( %)  188 non-null    float64
 4   Land Area(Km2)         194 non-null    object
 5   Armed Forces size      171 non-null    object
 6   Birth Rate             189 non-null    float64
 7   Calling Code           194 non-null    float64
 8   Capital/Major City     192 non-null    object
 9   Co2-Emissions          188 non-null    object
 10  CPI                    178 non-null    object
 11  CPI Change (%)         179 non-null    float64
 12  Currency-Code          180 non-null    object
 13  Fertility Rate         188 non-null    float64
 14  Forested Area (%)      188 non-null    float64
 15  Gasoline Price         175 non-null    float64
dtypes: float64(8), object(8)
memory usage: 25.9+ KB

2.1.10. Selecciona las columnas numéricas del conjunto de datos y muestra sus estadísticas descriptivas básicas. Haz lo mismo para las categóricas.

In [12]:
world_1.describe()

,Density\n(P/Km2),Agricultural Land( %),Birth Rate,Calling Code,CPI Change (%),Fertility Rate,Forested Area (%),Gasoline Price
count,195.000000,188.000000,189.000000,194.000000,179.000000,188.000000,188.000000,175.000000
mean,356.764103,39.117553,20.214974,360.546392,6.722346,2.698138,32.015426,1.002457
std,1982.888967,21.783052,9.945774,323.236419,24.450414,1.282267,23.791331,0.368858
min,2.000000,0.600000,5.900000,1.000000,-4.300000,0.980000,0.000000,0.000000
25%,35.500000,21.700000,11.300000,82.500000,1.000000,1.705000,11.000000,0.755000
50%,89.000000,39.600000,17.950000,255.500000,2.300000,2.245000,32.000000,0.980000
75%,216.500000,55.375000,28.750000,506.750000,4.250000,3.597500,48.175000,1.240000
max,26337.000000,82.600000,46.080000,1876.000000,254.900000,6.910000,98.300000,2.000000

In [13]:
world_1.describe(include= 'object') # Mostrar llos datos estadísticos de las columnas categóricas

,Country,Abbreviation,Land Area(Km2),Armed Forces size,Capital/Major City,Co2-Emissions,CPI,Currency-Code
count,195,188,194,171,192,188,178,180
unique,195,188,194,105,192,184,175,133
top,Afghanistan,AF,"652,230","2,000",Kabul,143,110.62,EUR
freq,1,1,1,7,1,2,2,23

## 2.2. Loc e iloc
2.2.1. Utilizando loc, filtra el conjunto de datos para mostrar sólo las filas donde la densidad (columna "Birth Rate") es mayor a 40.
loc filtra por etiquetas, es decir, los nombres ''' df.loc[etiqueta_filas, etiqueta_columnas]'''
iloc nos filtra por indice, más útil para filtra entre segmentos ''' df.iloc[índice_filas, indice_columnas]'''

In [15]:
world_1.loc[world_1['Birth Rate']>40]

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
4,Angola,26.0,AO,47.5,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.1,AOA,5.52,46.3,0.97
34,Chad,13.0,TD,39.7,"1,284,000","35,000",42.17,235.0,N'Djamena,"1,016",117.7,-1.0,XAF,5.75,3.8,0.78
45,Democratic Republic of the Congo,40.0,CD,11.6,"2,344,858","134,000",41.18,243.0,Kinshasa,"2,021",133.85,2.9,CDF,5.92,67.2,1.49
105,Mali,17.0,ML,33.8,"1,240,192","18,000",41.54,223.0,Bamako,"3,179",108.73,-1.7,XOF,5.88,3.8,1.12
125,Niger,19.0,NE,36.1,"1,267,000","10,000",46.08,227.0,Niamey,"2,017",109.32,-2.5,XOF,6.91,0.9,0.88
160,Somalia,25.0,SO,70.3,"637,657","20,000",41.75,252.0,Mogadishu,645,NaN,NaN,SOS,6.07,10.0,1.41

2.2.2. Utilizando loc selecciona las columnas "Country" y "Capital/Major City" de las filas donde el porcentaje de tierra agrícola (columna "Fertility Rate") es superior al 6.

In [17]:
world_1.loc[world_1['Fertility Rate']>6,['Country','Capital/Major City','Fertility Rate']]

     Country Capital/Major City  Fertility Rate
125    Niger             Niamey            6.91
160  Somalia          Mogadishu            6.07

2.2.3. Encuentra el valor de "Gasoline Price" para el país cuya abreviatura es "IT" utilizando loc.

In [19]:
world_1.columns

Index(['Country', 'Density\n(P/Km2)', 'Abbreviation', 'Agricultural Land( %)',
       'Land Area(Km2)', 'Armed Forces size', 'Birth Rate', 'Calling Code',
       'Capital/Major City', 'Co2-Emissions', 'CPI', 'CPI Change (%)',
       'Currency-Code', 'Fertility Rate', 'Forested Area (%)',
       'Gasoline Price'],
      dtype='object')

In [21]:
world_1.loc[world_1['Abbreviation']=='IT', 'Gasoline Price']

83    1.61
Name: Gasoline Price, dtype: float64

2.2.4. Selecciona todas las columnas de las filas 7 a 10 (excluyendo la fila 10) utilizando iloc.

In [26]:
world_1.iloc[7:10,:]

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
7,Armenia,104.0,AM,58.9,"29,743","49,000",13.99,374.0,Yerevan,"5,156",129.18,1.4,AMD,1.76,11.7,0.77
8,Australia,3.0,AU,48.2,"7,741,220","58,000",12.60,61.0,Canberra,"375,908",119.8,1.6,AUD,1.74,16.3,0.93
9,Austria,109.0,AT,32.4,"83,871","21,000",9.70,43.0,Vienna,"61,448",118.06,1.5,EUR,1.47,46.9,1.20

2.2.5. Selecciona las columnas 2, 5 y 10 para todas las filas utilizando iloc.

In [28]:
world_1.iloc[:, [2,5,10]]

    Abbreviation Armed Forces size       CPI
0             AF           323,000     149.9
1             AL             9,000    119.05
2             DZ           317,000    151.36
3             AD               NaN       NaN
4             AO           117,000    261.73
..           ...               ...       ...
190           VE           343,000  2,740.27
191           VN           522,000    163.52
192           YE            40,000    157.58
193           ZM            16,000    212.31
194           ZW            51,000    105.51

[195 rows x 3 columns]

2.2.6. Encuentra el valor en la fila 63 y columna 8 utilizando iloc.

In [30]:
world_1.iloc[[63],[8]] # Si incluimos la posición entre [] nos muestra en DF

   Capital/Major City
63            Tbilisi

### 2.3. Unión de datos
2.3.1. Carga el archivo 'world-data-2' como DataFrame (world_2)

In [31]:
world_2=pd.read_csv(r'C:\Users\maria\Desktop\PythonII\world-data-2.csv', index_col=0)

2.3.2. Utiliza el método de unión de Pandas que consideres más adecuado para combinar los datos de ambos años en un solo DataFrame.

- join 
df_join= df_left.join(df_right, how = 'tipo_de_join', lsuffix='', rsuffix = '') Hace uniones por coincidencia de índice
- merge
df_merge= df_left.merge(df_right, how='inner'], on = None, left_on=None, right_on= None) Hace unión por columnas que contienen la misma información.
- concat
df_concat = pd.concat ([df_1,df_2], axis= 0, join= 'outer', ignore_index = False)

In [32]:
world= world_1.merge(world_2, how = 'inner', left_on = 'Country', right_on = 'country')

In [42]:
world.shape

(195, 36)

2.3.3. Explica por qué elegiste ese método de unión y cómo se llevaron a cabo los pasos anteriores.

2.3.4. Después de la unión de datos, tenemos dos columnas de con los nombres del país. Elimina una de ellas.

In [41]:
 world.drop('country', axis=1)

KeyError: "['country'] not found in axis"

2.3.4. Ahora guarda el DataFrame en un archivo csv llamado 'world-data.csv' utilizando df.to_csv(nombre_del_archivo)

In [43]:
world.to_csv('../ejercicios/data/world-data.csv')

### 2.4. Filtrado de datos.
2.4.1. Encuentra todos los países cuya mortalidad infantil esté entre 50 y 75 personas por kilómetro cuadrado.

In [46]:
mort_50_75 = world['Infant mortality'].between(50,75)
world[mort_50_75]['Country']

4                                Angola
18                                Benin
28                          Ivory Coast
31                             Cameroon
34                                 Chad
38                              Comoros
45     Democratic Republic of the Congo
53                    Equatorial Guinea
69                               Guinea
70                        Guinea-Bissau
95                              Lesotho
96                              Liberia
105                                Mali
108                          Mauritania
117                          Mozambique
131                            Pakistan
163                         South Sudan
Name: Country, dtype: object

2.4.2. Encuentra los países cuyas tasas de natalidad son mayores o iguales a 15 y su esperanza de vida es mayor de 80 años.

In [48]:
tn= world['Birth Rate']>=15
ev=world['Life expectancy']>80
world[tn & ev]['Country']

82    Israel
Name: Country, dtype: object

2.4.3. Encuentra las capitales cuyos paises contienen "ar" en su nombre.

In [53]:
nom_ar= world['Country'].str.contains('ar')
world[nom_ar]['Capital/Major City']

5      St. John's, Saint John
14                 Bridgetown
15                      Minsk
25                      Sofia
46                 Copenhagen
75                   Budapest
101              Antananarivo
107                    Majuro
118                 Naypyidaw
124                   Managua
136                  Asunci��
141                      Doha
149        City of San Marino
Name: Capital/Major City, dtype: object

### 2.5. Apply
2.5.1. Crea una función para añadir una nueva columna que indique el número de infantes que sobrevivirían. a partir de Birth rate e Infant mortality  

df['nueva_columna']=df['columna'].apply(funcion)
df['nueva_columna']=df.apply(lambda x:df(x[col_1]x[col_2]),axis=1)

In [54]:
def infant_survival_rate(columna_1, columna_2):
  """_Función para calcular el ratio de supervivencia infantil_

  Parámetros/Args:
      columna_1 (_type_): _Columna con los datos de tasa de natalidad_
      columna_2 (_type_): _Columna con lso datos de mortalidad infantil_
      
  Retorna_
      La tasa de supervivencia infantil
  """
  try:
      per_inf_mortal= 1-(columna_2/1000) #Calculamos el ratio de supervivencia infantil 
      return columna_1 * per_inf_mortal# Multiplicamos por el número de nacimientos 
  except:
    np.nan # En caso de que no se pueda se rellenará el campo con un nulo

In [57]:
world.columns

Index(['Country', 'Density\n(P/Km2)', 'Abbreviation', 'Agricultural Land( %)',
       'Land Area(Km2)', 'Armed Forces size', 'Birth Rate', 'Calling Code',
       'Capital/Major City', 'Co2-Emissions', 'CPI', 'CPI Change (%)',
       'Currency-Code', 'Fertility Rate', 'Forested Area (%)',
       'Gasoline Price', 'GDP', 'Gross primary education enrollment (%)',
       'Gross tertiary education enrollment (%)', 'Infant mortality',
       'Largest city', 'Life expectancy', 'Maternal mortality ratio',
       'Minimum wage', 'Official language', 'Out of pocket health expenditure',
       'Physicians per thousand', 'Population',
       'Population: Labor force participation (%)', 'Tax revenue (%)',
       'Total tax rate', 'Unemployment rate', 'Urban_population', 'latitude',
       'longitude', 'Continent'],
      dtype='object')

In [58]:
world['Infant survival rate']=world.apply(lambda x: infant_survival_rate(x['Birth Rate'], x['Infant mortality']), axis=1)

### 2.6. Group by ### 
df.groupby(columna a agrupar) [ columna a realizar la función].fagg()reset_index()

2.6.1. ¿Cuál es la densidad de población promedio por continente?

In [59]:
world.columns

Index(['Country', 'Density\n(P/Km2)', 'Abbreviation', 'Agricultural Land( %)',
       'Land Area(Km2)', 'Armed Forces size', 'Birth Rate', 'Calling Code',
       'Capital/Major City', 'Co2-Emissions', 'CPI', 'CPI Change (%)',
       'Currency-Code', 'Fertility Rate', 'Forested Area (%)',
       'Gasoline Price', 'GDP', 'Gross primary education enrollment (%)',
       'Gross tertiary education enrollment (%)', 'Infant mortality',
       'Largest city', 'Life expectancy', 'Maternal mortality ratio',
       'Minimum wage', 'Official language', 'Out of pocket health expenditure',
       'Physicians per thousand', 'Population',
       'Population: Labor force participation (%)', 'Tax revenue (%)',
       'Total tax rate', 'Unemployment rate', 'Urban_population', 'latitude',
       'longitude', 'Continent', 'Infant survival rate'],
      dtype='object')

In [60]:
world.groupby('Continent')['Density\n(P/Km2)'].mean().reset_index()

  Continent  Density\n(P/Km2)
0    Africa         86.750000
1   America        133.055556
2      Asia        284.979167
3    Europa        818.930233
4   Oceania        145.750000

2.6.2. ¿Cuál es la mediana de la esperanza de vida por idioma oficial?

In [61]:
world.groupby('Official language')['Life expectancy'].median().reset_index()

    Official language  Life expectancy
0           Afrikaans             63.9
1            Albanian             78.5
2             Amharic             66.2
3              Arabic             75.0
4            Armenian             74.9
..                ...              ...
71  Tuvaluan Language              NaN
72          Ukrainian             71.6
73               Urdu             67.1
74              Uzbek             71.6
75         Vietnamese             75.3

[76 rows x 2 columns]

2.6.3. ¿Cuál es la tasa de mortalidad infantil máxima por moneda?

In [62]:
world.groupby('Currency-Code')['Infant mortality'].max().reset_index()

    Currency-Code  Infant mortality
0             AED               6.5
1             AFN              47.9
2             ALL               7.8
3             AMD              11.0
4             AOA              51.6
..            ...               ...
128           XCD              32.9
129           XOF              62.0
130           YER              42.9
131           ZAR              28.5
132           ZMW              40.4

[133 rows x 2 columns]

2.6.4. ¿Cuál es el mínimo, máximo y promedio del salario mínimo de cada por continente?

In [63]:
world.groupby('Continent')['Minimum wage'].agg(['min','max','mean']).reset_index()

  Continent   min    max      mean
0    Africa  0.12   0.71  0.370000
1   America  0.01   9.51  2.031250
2      Asia  0.01   7.58  1.056250
3    Europa  0.31  13.05  4.875938
4   Oceania  0.38  13.59  4.846667

2.6.5. ¿Cuál es el promedio de médicos por cada mil habitantes en cada continente?

In [64]:
world.groupby('Continent')['Physicians per thousand'].mean().reset_index()

  Continent  Physicians per thousand
0    Africa                 0.359091
1   America                 1.996667
2      Asia                 1.189140
3    Europa                 3.693750
4   Oceania                 1.465000

## 3. Ejercicios bonus
### 3.1. Pandas Básico
3.1.1. Muestra las últimas 5 filas del conjunto de datos.

3.1.2. Reproduce una muestra aleatoria de 5 filas del conjunto de datos.

3.1.3. Itera por todas las columnas y muestra sus valores únicos y el conteo de cada uno.

### 3.2. Loc e iloc
3.2.1. Selecciona todas las columnas de las filas 2 a 4 (inclusive) utilizando loc.

3.2.2. Selecciona todas las columnas para el país cuya capital es "Tirana" utilizando loc.

3.2.3. Filtra el conjunto de datos para mostrar solo las filas donde el índice de CPI (columna "CPI") sea igual a 128.85.

3.2.4. Selecciona las columnas "Country" y "Co2-Emissions".

3.2.5. Filtra el conjunto de datos para mostrar solo las filas donde el índice de CPI cambió un 2% (columna "CPI Change (%)").

3.2.6. Encuentra la tasa de natalidad (columna "Birth Rate") para el país con la abreviatura "AF" utilizando loc.

3.2.7. Selecciona todas las filas de las columnas 0 a 4 (excluyendo la columna 4) utilizando iloc.

3.2.8. Selecciona todas las filas para las columnas 0, 2, y 5 utilizando iloc.

3.2.9. Selecciona las filas 0, 2 y 4 para todas las columnas utilizando iloc.

3.2.10. Encuentra el valor en la última fila y la última columna utilizando iloc.

3.2.11. Selecciona las filas 1 a 3 (inclusive) para todas las columnas utilizando iloc.

3.2.12. Selecciona todas las filas para las columnas 1, 4 y 6 utilizando iloc.

3.2.13. Encuentra el valor en la fila 4 y columna 2 utilizando iloc.

### 3.3. Filtrado de datos.
3.3.1. Encuentra los países cuyos medicos por cada 1000 habitantes (physicians_per_thousand) sea mayores de 5.

3.3.2. Encuentra los países cuyatasa de fertilidad sea mayor a 6.

3.3.3. Encuentra los países cuya moneda es el euro (EUR) y tienen una tasa de natalidad superior al promedio.

3.3.4. Encuentra los países cuyas tasas de mortalidad infantil son superiores a 70.
### 3.4. Apply
3.4.1. Crea una función para añadir una nueva columna llamada 'Percent Urban Population' al DataFrame para indicar a qué porcentaje de población urbana tiene cada país.

### 3.5. Group by
3.5.1. ¿Cuál es la tasa de impuestos total máxima por densidad de población por continente? Para solucionar este ejercicio puedes:
- Primero, necesitas calcular la tasa de impuestos total para cada continente. La tasa de impuestos total se encuentra en la columna "total_tax_rate".
- Luego, calcula la densidad de población para cada continente. La densidad de población se encuentra en la columna "density".
- Ahora, divide la tasa de impuestos total entre la densidad de población para obtener la tasa de impuestos total por persona por kilómetro cuadrado.
- Encuentra el país que tiene el valor más alto en esta nueva columna calculada.

3.5.2. ¿Cuál es la diferencia entre el PIB promedio y el gasto en salud de bolsillo promedio por idioma oficial? Para contestar esta pregunta dabes seguir los siguientes pasos:
- Agrupa el DataFrame por idioma oficial y calcula la media del Gasto de Bolsillo en salud (out_of_pocket_health_expenditure) y del GPD.
- Calcula la diferencia entre el PIB promedio y el gasto en salud de bolsillo promedio

3.5.3. ¿Cuál es la tasa de maternidad promedio por tasa de impuestos total? Para resolver el ejercicio deberás:
- Primero, calcula la tasa de maternidad promedio para cada continente. Puedes usar la columna "maternal_mortality_ratio" que representa la tasa de mortalidad materna.
- Calcula la tasa de impuestos total promedio para cada continente. Puedes usar la columna "total_tax_rate" que representa la tasa de impuestos total en cada continente.
- Luego, divide la tasa de maternidad promedio por la tasa de impuestos total promedio para obtener la relación entre ambas tasas.
Encuentra el país con la tasa de maternidad más alta por punto porcentual de tasa de impuestos total.

3.5.4. ¿Cuál es la tasa de natalidad máxima por área forestal por continente? Encuentra el país con la tasa de natalidad más alta por cada punto porcentual de área forestal.

3.5.5. ¿Cuál es la diferencia entre la tasa de impuestos total y la tasa de desempleo promedio por continente?