In [1]:
import pandas as pd
import numpy as np

In [2]:
#Librerías de Visualización
import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [3]:
results=pd.read_csv(r'C:\Users\maria\Documents\FormacionDataAnalytics\EDA_Olympic_games\olympic_results.csv')

- **`discipline_title`**: Título de la disciplina deportiva (por ejemplo, atletismo, natación).

- **`event_title`**: Nombre del evento específico dentro de la disciplina (por ejemplo, 100m libres, salto de altura).

- **`slug_game`**: Identificador único del juego o competición, usado en URL y para fines de indexación.

- **`participant_type`**: Tipo de participante en el evento (puede ser individual o en equipo).

- **`medal_type`**: Tipo de medalla obtenida (oro, plata, bronce).

- **`athletes`**: Lista o número de atletas que participan en el evento.

- **`rank_equal`**: Indicador de posición compartida (si dos o más participantes empatan en la misma posición).

- **`rank_position`**: Posición o rango alcanzado por el participante en el evento.

- **`country_name`**: Nombre completo del país del participante.

- **`country_code`**: Código de dos letras que representa al país (por ejemplo, US para Estados Unidos).

- **`country_3_letter_code`**: Código de tres letras del país (por ejemplo, USA para Estados Unidos).

- **`athlete_url`**: URL del perfil o página del atleta.

- **`athlete_full_name`**: Nombre completo del atleta.

- **`value_unit`**: Unidad de medida del valor registrado en la competencia (por ejemplo, segundos, metros).

- **`value_type`**: Tipo de valor registrado (por ejemplo, tiempo, distancia).

In [4]:
results.head()

,discipline_title,event_title,slug_game,participant_type,medal_type,athletes,rank_equal,rank_position,country_name,country_code,country_3_letter_code,athlete_url,athlete_full_name,value_unit,value_type
0,Curling,Mixed Doubles,beijing-2022,GameTeam,GOLD,"[('Stefania CONSTANTINI', 'https://olympics.co...",False,1,Italy,IT,ITA,NaN,NaN,NaN,NaN
1,Curling,Mixed Doubles,beijing-2022,GameTeam,SILVER,"[('Kristin SKASLIEN', 'https://olympics.com/en...",False,2,Norway,NO,NOR,NaN,NaN,NaN,NaN
2,Curling,Mixed Doubles,beijing-2022,GameTeam,BRONZE,"[('Almida DE VAL', 'https://olympics.com/en/at...",False,3,Sweden,SE,SWE,NaN,NaN,NaN,NaN
3,Curling,Mixed Doubles,beijing-2022,GameTeam,NaN,"[('Jennifer DODDS', 'https://olympics.com/en/a...",False,4,Great Britain,GB,GBR,NaN,NaN,NaN,NaN
4,Curling,Mixed Doubles,beijing-2022,GameTeam,NaN,"[('Rachel HOMAN', 'https://olympics.com/en/ath...",False,5,Canada,CA,CAN,NaN,NaN,NaN,NaN

In [5]:
results.columns

Index(['discipline_title', 'event_title', 'slug_game', 'participant_type',
       'medal_type', 'athletes', 'rank_equal', 'rank_position', 'country_name',
       'country_code', 'country_3_letter_code', 'athlete_url',
       'athlete_full_name', 'value_unit', 'value_type'],
      dtype='object')

In [6]:
results.duplicated().sum()

116

In [7]:
results[results.duplicated()]

,discipline_title,event_title,slug_game,participant_type,medal_type,athletes,rank_equal,rank_position,country_name,country_code,country_3_letter_code,athlete_url,athlete_full_name,value_unit,value_type
22104,Bobsleigh,four-man men,sochi-2014,GameTeam,NaN,NaN,NaN,DSQ,Russian Federation,RU,RUS,NaN,NaN,NaN,IRM
147501,Bobsleigh,four-man men,lake-placid-1932,GameTeam,NaN,NaN,NaN,DNS,Switzerland,CH,SUI,NaN,NaN,NaN,IRM
147504,Bobsleigh,four-man men,lake-placid-1932,GameTeam,NaN,NaN,NaN,DNS,Germany,DE,GER,NaN,NaN,NaN,IRM
149859,Bobsleigh,fiveman men,st-moritz-1928,GameTeam,NaN,NaN,NaN,DNS,Czechoslovakia,CSHH,TCH,NaN,NaN,NaN,IRM
154361,Water Polo,Water Polo Women,antwerp-1920,GameTeam,NaN,NaN,NaN,1,Netherlands,NL,NED,NaN,NaN,2,SCORE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161736,Sailing,½-1 Ton Race Two Open,paris-1900,GameTeam,NaN,"[('LETOT LETOT', 'https://olympics.com/en/athl...",NaN,DNF,France,FR,FRA,NaN,NaN,NaN,IRM
161737,Sailing,½-1 Ton Race Two Open,paris-1900,GameTeam,NaN,"[('LETOT LETOT', 'https://olympics.com/en/athl...",NaN,DNF,France,FR,FRA,NaN,NaN,NaN,IRM
161738,Sailing,½-1 Ton Race Two Open,paris-1900,GameTeam,NaN,"[('LETOT LETOT', 'https://olympics.com/en/athl...",NaN,DNF,France,FR,FRA,NaN,NaN,NaN,IRM
161739,Sailing,½-1 Ton Race Two Open,paris-1900,GameTeam,NaN,"[('LETOT LETOT', 'https://olympics.com/en/athl...",NaN,DNF,France,FR,FRA,NaN,NaN,NaN,IRM
162109,Polo,polo men,paris-1900,GameTeam,BRONZE,NaN,NaN,3,MIX,NaN,MIX,NaN,NaN,NaN,NaN

In [8]:
results=results.drop_duplicates()

In [9]:
results.shape

(162688, 15)