**Olympic Summer & Winter Games, 1896-2022**

In [110]:
import pandas as pd
import numpy as np

## Descripción de los dataset
**Athletic_csv**
- athlete_url
- athlete_full_name 
- games_participations
- first_game
- athlete_year_birth
- athlete_medals
- bio

In [111]:
athletic= pd.read_csv(r'C:\Users\maria\Documents\FormacionDataAnalytics\EDA_Olympic_games\olympic_athletes.csv')

In [112]:
athletic.head()

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth,athlete_medals,bio
0,https://olympics.com/en/athletes/cooper-woods-...,Cooper WOODS-TOPALOVIC,1,Beijing 2022,2000.0,NaN,NaN
1,https://olympics.com/en/athletes/elofsson,Felix ELOFSSON,2,PyeongChang 2018,1995.0,NaN,NaN
2,https://olympics.com/en/athletes/dylan-walczyk,Dylan WALCZYK,1,Beijing 2022,1993.0,NaN,NaN
3,https://olympics.com/en/athletes/olli-penttala,Olli PENTTALA,1,Beijing 2022,1995.0,NaN,NaN
4,https://olympics.com/en/athletes/reikherd,Dmitriy REIKHERD,1,Beijing 2022,1989.0,NaN,NaN

In [113]:
athletic.columns

Index(['athlete_url', 'athlete_full_name', 'games_participations',
       'first_game', 'athlete_year_birth', 'athlete_medals', 'bio'],
      dtype='object')

In [114]:
athletic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75904 entries, 0 to 75903
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   athlete_url           75904 non-null  object
 1   athlete_full_name     75904 non-null  object
 2   games_participations  75904 non-null  int64
 3   first_game            75882 non-null  object
 4   athlete_year_birth    73448 non-null  float64
 5   athlete_medals        15352 non-null  object
 6   bio                   22842 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 4.1+ MB

In [115]:
athletic.describe().T

,count,mean,std,min,25%,50%,75%,max
games_participations,75904.0,1.535874,0.854563,0.0,1.0,1.0,2.0,10.0
athlete_year_birth,73448.0,1961.619377,28.129576,1836.0,1946.0,1968.0,1983.0,2009.0

In [116]:
athletic.shape

(75904, 7)

## Gestión de duplicados

In [117]:
df_duplicados=athletic[athletic['athlete_full_name'].duplicated(keep=False)]
df_duplicados.shape

(800, 7)

In [118]:
duplicados_conteo = athletic['athlete_full_name'].value_counts()
duplicados_conteo = duplicados_conteo[duplicados_conteo > 1]
duplicados_conteo

athlete_full_name
Ivan IVANOV        4
Sandeep KUMAR      4
Luis MARTINEZ      4
Jose PEREZ         4
Singh SINGH        4
                  ..
Vladimir KOSLOV    2
John CAMPBELL      2
Boris PAVLOV       2
Hiroshi SUZUKI     2
Jose CARVALHO      2
Name: count, Length: 376, dtype: int64

In [119]:
df_Ivan= athletic.loc[athletic['athlete_full_name']== "Ivan IVANOV"]
df_Ivan

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth,athlete_medals,bio
12242,https://olympics.com/en/athletes/ivan-ivanov-8,Ivan IVANOV,1,Rio 2016,1989.0,NaN,NaN
18714,https://olympics.com/en/athletes/ivan-ivanov,Ivan IVANOV,1,Beijing 2008,1986.0,NaN,NaN
29915,https://olympics.com/en/athletes/ivan-ivanov-6,Ivan IVANOV,1,Atlanta 1996,1968.0,NaN,NaN
30748,https://olympics.com/en/athletes/ivan-ivanov-1,Ivan IVANOV,1,Atlanta 1996,1974.0,NaN,NaN

In [120]:
df_sandeep= athletic.loc[athletic['athlete_full_name']== "Sandeep KUMAR"]
df_sandeep

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth,athlete_medals,bio
6539,https://olympics.com/en/athletes/sandeep-kumar-2,Sandeep KUMAR,2,Rio 2016,1986.0,NaN,NaN
18603,https://olympics.com/en/athletes/sandeep-kumar-3,Sandeep KUMAR,1,Beijing 2008,1983.0,NaN,NaN
30971,https://olympics.com/en/athletes/sandeep-kumar,Sandeep KUMAR,1,Atlanta 1996,1975.0,NaN,NaN
70037,https://olympics.com/en/athletes/sandeep-kumar-1,Sandeep KUMAR,1,London 2012,1988.0,NaN,NaN

Ejercicio para comprobar la relación entre los duplicados, se descarta error en el set de datos. Son coincidencias de nombres no son duplicados de datos, ya que las fechas de nacimiento son diferentes.

In [121]:
duplicados = athletic[athletic.duplicated(subset=['athlete_full_name', 'athlete_year_birth'], keep=False)]
duplicados.shape

(74, 7)

In [122]:
duplicados= duplicados.sort_values(by=['athlete_full_name'])
duplicados

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth,athlete_medals,bio
1706,https://olympics.com/en/athletes/angelina-goli...,Angelina GOLIKOVA,3,Sochi 2014,1991.0,\n\n\n1\n\nB\n\n,NaN
7225,https://olympics.com/en/athletes/angelina-goli...,Angelina GOLIKOVA,2,Sochi 2014,1991.0,NaN,NaN
1746,https://olympics.com/en/athletes/ayano-sato,Ayano SATO,2,PyeongChang 2018,1996.0,\n\n\n1\n\nG\n\n\n\n1\n\nS\n\n,NaN
3366,https://olympics.com/en/athletes/ayano-sato-x4383,Ayano SATO,1,Tokyo 2020,1996.0,NaN,NaN
1667,https://olympics.com/en/athletes/bart-swings,Bart SWINGS,3,Sochi 2014,1991.0,\n\n\n1\n\nG\n\n\n\n1\n\nS\n\n,NaN
...,...,...,...,...,...,...,...
7232,https://olympics.com/en/athletes/yekaterina-ay...,Yekaterina AYDOVA,3,Vancouver 2010,1991.0,NaN,NaN
1699,https://olympics.com/en/athletes/yu-ting-huang,Yu-Ting HUANG,2,Atlanta 1996,1988.0,NaN,NaN
7233,https://olympics.com/en/athletes/huang-yu-ting,Yu-Ting HUANG,1,PyeongChang 2018,1988.0,NaN,NaN
7612,https://olympics.com/en/athletes/jang,Yujin JANG,1,PyeongChang 2018,2001.0,NaN,NaN
263,https://olympics.com/en/athletes/yujin-jang,Yujin JANG,1,Beijing 2022,2001.0,NaN,NaN

Tras considerar la necesidad formativa de descubrir si eran reales o no duplicados se encuentra que 32 filas deberias de ser eliminadas para tener un set mas limpio y con menos distorción de datos. el porcetage es bastante irrelevante sin fueran medallistas estos duplicados.

In [128]:
duplicados.loc[duplicados['athlete_medals']=='2',]

Empty DataFrame
Columns: [athlete_url, athlete_full_name, games_participations, first_game, athlete_year_birth, athlete_medals, bio]
Index: []

## Preguntas para hacerse con Athletas
- Atleta mas joven en ganar una medalla,
- Número de juegos olympicos y nombres
- La edad media de los ganadores/participantes y como ha ido evolucionando con los años